@import "fonts";
@import "colors";
@import "buttons";

body {
    background: #f9f9f9;
    color: $drkgrey;
    margin: 0 auto;
}

header {
    background: $drkgrey;
    color: $offwhite;
    padding: 2em 0 1em;
    
    .menu {
        font-family: PTSerif, serif;
        text-align: right;
        padding-top: 0.75em;
        min-height: 2.1em;
        
        ul {
            
            list-style: none;
            text-align: right;
            padding-left: 0;
            
            li {
                
                display: inline-block;
                padding: 0 0 0 1.5em;
                
                a {
                    color: $offwhite;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0 !important;
                    max-width: 100% !important;
                    
                    &:hover {
                        padding-bottom: 0.15em;
                        border-bottom: $offwhite 2px solid;
                    }
                }
            }
        }
    }
    
    .phone {
        
        h3 {
            font-size: 1.25em;
            font-style:italic;
            margin: 0;
            line-height: 2em;
        }
        
    }

    .search {

        label {
            display: none;
        }

        input {
            width: 100%;
            background: transparent;
            margin: 0;
            border-radius: 2px;
            border: #f9f9f9 2px solid;
            padding: 0.52em;
            font-size: 1em;
            color: $offwhite;
            font-family: PTSerif, serif;
            @include box-sizing(border-box);
        }

        a {
            text-align: right;
            float: right;
        }
    }
}

.client-login {
    font-size: 1em;
    
    a {
        text-decoration: none;
    }
}

ul {
    list-style-position: inside;
}

.container-fluid {
    max-width: 1080px;
    margin: 0 auto;
}

.value-prop {
    background: url(assets/value-prop-bg.jpg) no-repeat;
    background-size: cover;
    padding: 3em 0;
    
    h1 {
        margin-top: 0;
        color: $blue;
    }

    h3 {
        margin: 1.65em 0;
    }
    
    p {
        margin-left: 5em;
        margin-right: 3em;

        &:after {
            content: url(../assets/value-prop-arrow.png);
            display: inline-block;
            float: right;
            top: -0.625em;
            position: relative;
        }
    }
}

.wistia_embed {
    width: 100%;
    min-height: 20.5em;
}

.banner-cta {
    border-top: $green 5px solid;
    padding: 3em 0;
    background: url(assets/get-aquainted-bg.jpg) no-repeat;
    background-size: cover;

    h2 {
        color: $green;
        border-bottom: $green 2px solid;
        padding-bottom: 0.35em;
        margin-top: 0;
    }

    h5 {
        margin: 1em 2em;
    }

    a {
        @include grn-solid-btn;
        width: 80%;
        font-size: 1.5em;

        &:hover {
            @include grn-solid-btn-hover;
        }
    }
}

.buyerpersona-blog {
    background: $blue;
    color: $offwhite;
    padding: 2em 0;
    
    a {
        color: $offwhite;
    }
    
    .media {

        padding-bottom: 1em;
        
        .pull-left {
            max-width: 18%;
            margin: 0 1em 1em 0;
            float: left;

            img {
                max-width: 100%;
            }
        }

        h3 {
            font-size: 1.3em;
            min-height: 84px;
        }

        h4 {
            font-size: 1.15em;
        }

        ul {
            padding-left: 0;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoraton: underline;
            }
        }
    }

    .btn {

        width: 50%;
        margin: 0 auto;

        a {
            @include white-btn-outline;
                text-decoration: none;
                

            &:hover {
                @include white-btn-outline-hover;
                color: $blue;
           }
       }
    }
}

.parlan-process {
    background: $offwhite;
    padding: 3em 0;

    .row-fluid {
        margin: 1em 0;
    }
    
    h2 {
        border-bottom: $blue 2px solid;
        padding-bottom: 0.5em;
        margin-bottom: 1.5em;
        margin-top: 0;
    }

    img {
        max-width: 90%;
    }

    h4 {
        margin-top: 0;
    }

    p {
        min-height: 60px;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.trading-news {
    border-top: $blue 5px solid;
    border-bottom: $blue 5px solid;
    padding: 3em 0;
    background: url(assets/trading-news-bg.jpg) no-repeat;
    background-size: cover;
    color: $offwhite;

    h5 {
        font-size: 1.15em;
    }

    .trading-tweets {

        #timestamp-tweets {

            ul {
                list-style: none;
                padding-left: 0;

                li {

                    padding: 1em;

                    &:nth-child(2n+1) {
                        background: $blue-opacity;
                    }
                }
            }

            .tweet {
                margin-bottom: 0.25em;
                margin-top: 0;
                font-size: 0.95em;
            }

            .timePosted {
                margin: 0;
                text-align: right;
                font-size: 0.8em;
            }

            a {
                color: $offwhite;
            }

            .interact {
                display: none;
            }

        }

        .solid-white-btn {
            padding: 0.5em;
            width: 50%;
            margin: 0 auto;
        }

    }
}

.home-ebook {

    padding: 4em 0;

    .span3 {
        text-align: right;
    }

    img {
        max-width: 80%;
    }

    h2 {
        color: $blue;
    }

    ul {
        padding-left: 0;
    }

    .cta-btns {
        margin: 2em 0 0;
    }
}

.location-footer {
    background: url(assets/toledo-location.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
    color: $offwhite;
    padding: 6em 0;
    
    h2 {
        margin: 0;
        font-size: 4em;
    }
    
    h4 {
        margin: 0;
        font-size: 1.5em;
    }
}

.footer {
    
    height: 100%;
    background: $drkgrey;
    color: $offwhite;
    padding: 0.25em 0;

    .span3 {
        @extend .footer;
        display: inline-block !important;
        vertical-align: middle;
    }

    .footer-logo {

        top: 0.2em;
        position: relative;

        img {
            max-width: 100%;
        }
    }

    .footer-contact {

        top: 0.95em;
        position: relative;

        p {
            font-size: 0.8em;
            margin: 0;
            letter-spacing: 0.168px;

            .left {
                float: left;
                font-size: 1.15em;
                letter-spacing: 0;
            }

            .right {
                float: right;
                font-size: 1.15em;
                letter-spacing: 0;
            }
        }
    }

    .footer-social {
        ul {

            list-style: none;

            li {
                display: inline-block;
                width: 15%;

                img {
                    max-width: 100%;
                }

                a:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .footer-subscribe {

        line-height: 68px;

        h3 {
            display: none;
        }

        label {
            display: none;
        }

        .input {
            width: 100%;
            display: inline-block;
        }

        .hs_email {

            width: 75%;
            display: inline-block;

        }

        .hs_submit {
            width: 24%;
            display: inline-block;
        }

        .hs-input {
            width: 100%;
            background: transparent;
            border: $offwhite 2px solid;
            border-radius: 2px 0 0 2px;
            color: $offwhite;
            padding: 0.95em 0.5em;

            &:focus {
                outline: none;
            }
        }

        .hs-button{
            display: inline-block;
            border: none;
            color: $green;
            text-align: center;
            background: $offwhite;
            padding: 0.95em 0.5em;
            border-radius: 0 2px 2px 0;
            margin-top: 0;
            margin-bottom: 0;
            border: $offwhite 2px solid;

            &:hover {
                cursor:pointer;
            }

        }

    }
}

.sub-footer {
    background: $black;
    color: $greyblack;
    
    p {
        padding-top: 0.5em;
    }
    
    a {
        color: $greyblack;
        text-decoration: none;
        
        &:hover {
            color: $greyblack;
            text-decoration: underline;
        }
    }
}


/* Offset Override */

.offset2 {
    margin-left: 17.094017094017094% !important;
}

.offset1 {
    margin-left: 8.547008547008547% !important;
}

/* IMPACT Custom Responsive Style */

@import "responsive";