@import "fonts";
@import "colors";
@import "buttons";

body {
    background: #f9f9f9;
    color: $drkgrey;
    margin: 0 auto;
}

header {
    background: $drkgrey;
    color: $offwhite;
    padding: 2em 0 1em;
    
    .menu {
        font-family: PTSerif, serif;
        
        ul {
            
            list-style: none;
            text-align: right;
            padding-left: 0;
            
            li {
                
                display: inline-block;
                padding: 0 0 0 1.5em;
                
                a {
                    color: $offwhite;
                    text-decoration: none;
                    text-transform: uppercase;
                    
                    &:hover {
                        padding-bottom: 0.15em;
                        border-bottom: $offwhite 2px solid;
                    }
                }
            }
        }
    }
    
    .phone {
        
        h3 {
            font-size: 1.45em;
            margin: 0;
            line-height: 1.85em;
        }
        
    }

    .search {

        label {
            display: none;
        }

        input {
            width: 100%;
            background: transparent;
            margin: 0;
            border-radius: 2px;
            border: #f9f9f9 2px solid;
            padding: 0.52em;
            font-size: 1em;
            color: $offwhite;
            font-family: PTSerif, serif;
            @include box-sizing(border-box);
        }

        a {
            text-align: right;
            float: right;
        }
    }
}

.client-login {
    font-size: 1em;
    
    a {
        text-decoration: none;
    }
}

ul {
    list-style-position: inside;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.value-prop {
    background: url(assets/value-prop-bg.jpg) no-repeat;
    background-size: cover;
    padding: 3em 0;
    
    h1 {
        margin-top: 0;
        color: $blue;
    }

    h3 {
        margin: 1.5em 0;
    }
    
    p {
        margin-left: 7em;
        margin-right: 5em;

        &:after {
            content: url(../assets/value-prop-arrow.png);
            display: inline-block;
            float: right;
            top: -0.625em;
            position: relative;
        }
    }
}

.banner-cta {
    border-top: $green 5px solid;
    padding: 3em 0;
    background: url(assets/get-aquainted-bg.jpg) no-repeat;
    background-size: cover;

    h2 {
        color: $green;
        border-bottom: $green 2px solid;
        padding-bottom: 0.35em;
        margin-top: 0;
    }

    h5 {
        margin: 1em 2em;
    }

    a {
        @include grn-solid-btn;
        width: 80%;
        font-size: 1.5em;

        &:hover {
            @include grn-solid-btn-hover;
        }
    }
}

.buyerpersona-blog {
    background: $blue;
    color: $offwhite;
    padding: 2em 0;
    
    a {
        color: $offwhite;
    }
    
    .media {

        padding-bottom: 1em;
        
        .pull-left {
            max-width: 18%;
            margin: 0 1em 1em 0;
            float: left;

            img {
                max-width: 100%;
            }
        }

        h3 {
            font-size: 1.4em;
            min-height: 84px;
        }

        h4 {
            font-size: 1.15em;
        }

        ul {
            padding-left: 0;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoraton: underline;
            }
        }
    }

    .btn {

        a {
            @include white-btn-outline;
            text-decoration: none;

            &:hover {
                @include white-btn-outline-hover;
                color: $blue;
           }
       }
    }
}

.parlan-process {
    background: $offwhite;
    padding: 3em 0;
    
    h2 {
        border-bottom: $blue 2px solid;
        padding-bottom: 0.5em;
        margin-bottom: 1.5em;
    }
}

.trading-news {
    border-top: $blue 5px solid;
    border-bottom: $blue 5px solid;
    padding: 3em 0;
    background: url(assets/trading-news-bg.jpg) no-repeat;
    background-size: cover;
    color: $offwhite;

    h5 {
        font-size: 1.15em;
    }

    .trading-tweets {

        img {
            max-width: 100%;
        }

    }
}

.home-ebook {
    h2 {
        color: $blue;
    }

    ul {
        padding-left: 0;
    }
}

.location-footer {
    background: url(assets/toledo-location.jpg) no-repeat;
    background-size: cover;
    color: $offwhite;
    padding: 6em 0;
    
    h2 {
        margin: 0;
        font-size: 4em;
    }
    
    h4 {
        margin: 0;
        font-size: 1.5em;
    }
}

.footer {
    background: $drkgrey;
    color: $offwhite;

    .footer-logo {

        img {
            max-width: 100%;
        }
    }

    .footer-contact {
        p {
            font-size: 0.9em;
            margin: 0;

            .left {
                float: left;
                font-size: 1.15em;
            }

            .right {
                float: right;
                font-size: 1.15em;
            }
        }
    }

    .footer-social {
        ul {

            list-style: none;

            li {
                display: inline-block;
                width: 15.25%;

                img {
                    max-width: 100%;
                }

                a:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.sub-footer {
    background: $black;
    color: $greyblack;
    
    p {
        padding-top: 0.5em;
    }
    
    a {
        color: $greyblack;
        text-decoration: none;
        
        &:hover {
            color: $greyblack;
            text-decoration: underline;
        }
    }
}