@media print {
    
    .print-only {display: block !important;}

    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
        border: none !important;
    }

    body {
        font-size: 0.8em !important;
    }
    
    a, a:visited {
        text-decoration: underline;
    }
    
    a[href]:after {
        content: " (" attr(href) ")";
    }
    
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    
    thead {
        display: table-header-group; // h5bp.com/t
    }
    
    tr, img {
        page-break-inside: avoid;
    }
    
    img {
        max-width: 100% !important;
    }
    
    @page {
        margin: 1cm;
    }
    
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    
    h2, h3 {
        page-break-after: avoid;
    }

    a, p, blockquote, h1, h2, h3, h4, h5, h6, span {
        color: #000 !important;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    center, .trading-news .header {
        text-align: left !important;
    }

    .mobile-value {padding-bottom: 0;}

    .row-fluid-wrapper .row-fluid-wrapper {padding: 0 !important;}

    .banner-cta .hidden-phone {display: block !important;}

    .hidden-phone .parlan-process {
        display: block !important;
    }

    .widget-type-cta,
    .blog-icon,
    .hs-site-page span.arrow,
    .wistia_embed,
    .right-sidebar,
    .footer-container-wrapper,
    .blog-pagination,
    .social-share-data,
    .post-footer,
    .hs-cta-wrapper,
    .about-author,
    .sidebar,
    .buyerpersona-blog img,
    .header-container-wrapper {
        display: none;
    }

    .hs-site-page .hidden-phone {
        display: block !important;
    }

    .left {
        width: 100% !important;
    }

    .value-prop {padding-bottom:0 !important;margin-bottom:0 !important;}
    .value-prop p {display: none !important;}
    .value-prop h3 {margin-bottom:0 !important;}

    .banner-cta {padding: 0 !important;}
    .banner-cta .header {margin-bottom:0 !important;}

    .visible-phone .mobile-value {display: none !important;}
    
    .bodyWrapper {padding: 0 !important;}

    .buyerpersona-blog {padding-top: 0 !important;padding-bottom: 0 !important;margin: 0 !important;}
    .buyerpersona-blog * {min-height: 0 !important; height: auto !important;}
    .buyerpersona-blog div {margin: 10px 0;}
    .buyerpersona-blog h3 {min-height:0; margin: 0 !important;margin-bottom:0 !important;padding: 0 !important;}
    .buyerpersona-blog .row-fluid-wrapper .row-fluid-wrapper {padding: 0 !important;}

    .parlan-process {padding: 0 !important;}
    .parlan-process img {display: none !important;}
    .parlan-process h2 {text-align: left !important; margin-bottom: 0 !important;padding: 0 !important;}
    .parlan-process a {height: auto !important; min-height: 0 !important;padding-top: 0 !important; margin-top: 0 !important;}
    .parlan-process p {height: auto !important; min-height: 0 !important;padding-top: 0 !important; margin-top: 0 !important;margin-bottom: 0.5em !important;}
    .parlan-process .row-fluid {margin: 0 !important;}
    .parlan-process h4 {margin-bottom: 0 !important;}

    .trading-news {border: none; color: black; margin: 0 !important; padding: 0 !important;}
    .trading-news h2 {color: black;}
    .trading-news .header {margin: 0 !important;}
    .trading-news .row-fluid-wrapper .row-fluid-wrapper .row-depth--4 .row-number-2  {margin: 0 !important;}
    .trading-news .row-fluid-wrapper {margin: 0 !important; padding: 0 !important;}
    .timestamp-tweets ul {margin: 0 !important;}
    .timestamp-tweets ul li {padding: 0 !important;margin: 0 !important;}

    .home-ebook {margin: 0 !important; padding: 0 !important;}
    .home-ebook img {float: left !important; width: 25% !important; margin-right: 5% !important; height:auto !important;}
    .home-ebook ul {margin-bottom:0 !important;}

    .print-cta {border: #000 4px solid !important; text-align: center !important; padding: 0.5cm 1.15cm;}

    .print-cta h3 {text-align: center !important; text-transform: capitalize;}
    
    .print-cta p {
        margin-bottom: 0;
        text-align: center !important;
    }

    .post-body img {
        max-width: 40% !important;
    }
    
}