$green: #287114;
$drkgreen: #2B5520;
$ltblue: #6280AC;
$blue: #263A58;
$blue-opacity: rgba(38,57,87,0.60);
$ltgrey: #D8D8D8;
$drkgrey: #222;
$greyblack: #4C4B4B;
$black: #111;
$offwhite: #f9f9f9;

.blue {
    color: $blue;
}

.green {
    color: $green;
}

.black {
	color: $greyblack;
}