@media print {
    
    html {color:#000; background:#FFF;}
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
    table {border-collapse:collapse; border-spacing:0;}
    fieldset,img {border:0;}
    address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
    li {list-style:none;}
    caption,th {text-align:left;}
    h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
    q:before,q:after {content:'';}
    abbr,acronym {border:0; font-variant:normal;}
    sup {vertical-align:text-top;}
    sub {vertical-align:text-bottom;}
    input,textarea,select {font-family:inherit; font-size:inherit; font-weight:inherit;}
    input,textarea,select {*font-size:100%;}
    legend {color:#000;}
    code {display:inline;text-indent:3px;}
    h1 {font-size:138.5%;}
    h2 {font-size:123.1%;}
    h3 {font-size:108%;}
    h1,h2,h3 {margin:1em 0;}
    h1,h2,h3,h4,h5,h6,strong {font-weight:bold;}
    abbr,acronym {border-bottom:1px dotted #000; cursor:help;}
    em {font-style:italic;}
    blockquote,ul,ol,dl {margin:1em;}
    ol,ul,dl {margin-left:2em;}
    ol li {list-style:decimal outside;}
    ul li {list-style:disc outside;}
    dl dd {margin-left:1em;}
    th,td {border:1px solid #000; padding:.5em;}
    th {font-weight:bold; text-align:center;}
    caption {margin-bottom:.5em; text-align:center;}
    p,fieldset,table,pre {margin-bottom:1em;}
    input[type=text],input[type=password],textarea {width:12.25em; *width:11.9em;}
    
    html,body {background-color:#FFF; color:#000; font-size: 12pt;}
    img  {max-width: 100%;}
    h1,h2,h3,h4,h5,h6 {page-break-after: avoid;}
    ul, ol, li {page-break-inside: avoid;}
    table table,tr,td {page-break-before: avoid;page-break-after: avoid;}

    body {width: 80%;margin: 0 auto;}

    .sidebar {display: none;}
    
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
        border: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    a {
        text-decoration: underline !important;
    }

    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; height: auto !important;}
  h2, h3 { page-break-after: avoid; }
    
    a, p, blockquote, h1, h2, h3, h4, h5, h6, span {
        color: #000 !important;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    center, .trading-news .header {
        text-align: left !important;
    }

.mobile-value {padding-bottom: 0;}
    
    body {
        color: #000 !important;
    }
    .buyerpersona-blog {
        * {height: auto !important;}
        div {margin: 10px 0;}
    }

    .parlan-process {
        display: block !important;
    }

    .header-container-wrapper {
        display: none;
    }

    .widget-type-cta {
        display: none !important;
    }
    
    .blog-icon {
        display: none !important;
    }

    span.arrow {
        display: none !important;
    }
    
    .wistia_embed {
        display: none;
    }
    
    .hidden-phone {
        display: block !important;
    }

    .right-sidebar {
        display: none;
    }
    
    .left {
        width: 100%;
    }

    .trading-news {
        border: none;
        color: black;
    
        h2 {
            color: black;
        }

        .header {margin-bottom: 0;}
    }

    .footer-container-wrapper {
        display: none;
    }

}