/* iPhone Phone Link Style */

a[href^=tel] { 
	color: $offwhite;
	text-decoration: none;
}


/* Large desktop */
@media (min-width: 1200px) { 

	

}

/* Large desktop */
@media (min-width: 1000px) and (max-width: 1080px) { 

	#sidebar-cta {
    
        width: 13em;
        @include transition-duration(0.75s);
        
    }

}

@media (min-width: 768px) and (max-width: 999px) {
 
	#sidebar-cta {
    
        width: 11em;
        @include transition-duration(0.5s);
        
    }
    
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

	body {
		font-size: 0.95em;
	}

	header {

		.phone {

			vertical-align: middle;

			h3 {
				font-size: 0.9em !important;
			}
		}

		.menu {

			margin-top: 1.5em;
		}
	}

	.value-prop {

		h1 {
			font-size: 1.9em;
		}

		h3 {
			font-size: 1.4em;
		}

		p {
			font-size: 0.85em;
		}

		.arrow {

			img {
				margin-left: 0em;
			}

		}
	}

	.banner-cta {
		font-size: 0.8em;
	}

	.sticky-wrapper {

		.stuck {
			position: static;
			max-width: 100%;
		}

	}

	.buyerpersona-blog {
		font-size: 0.9em;
	}

	.footer {

		.footer-logo {
			display: inline-block;
			vertical-align: middle;
		}

		.footer-contact {
			text-align: center;
			display: inline-block;
			vertical-align: middle;

			.left, .right {
				float: none !important;
				display: block;
				width: 100%;
			}
		}

		.footer-social {

			display: inline-block;
			vertical-align: middle;

			ul {

				text-align: center;

				li {
					width: 25%;
				}

			}
		}

		.footer-subscribe {

			display: inline-block;
			vertical-align: middle;

			.hs_email {
				width: 60%;
			}

		}

	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
    .header-container-wrapper, #sidebar-cta {
        
        position: static !important;
        
    }
    
    .sticky-wrapper {
        height: auto !important;
    }

	body {

		padding-left: 0px !important;
		padding-right: 0px !important;
		font-size: 0.9em;

	}

	.widget-type-space {
		display: none !important;
		width: 100% !important;
	}

	.header-container-wrapper {

		&.stuck {
			position: static !important;
		}
	}

	header {
        
        .widget-type-logo {
            width: 70% !important;
            display: inline-block !important;
            vertical-align: middle;
        }
        
        .client-login {
            width: 28% !important;
            display: inline-block !important;
            vertical-align: middle;
            @include box-sizing(border-box);
            
            .cell-wrapper {
                margin-left: 1em;
            }
        }
        
        .widget-type-space {
            display: none !important;
        }
        
        .row-number-2 {
            margin-top: 1em !important;
            
            .phone {
                display: inline-block;
                vertical-align: middle;
                width: 50% !important;
                text-align: left;
    
                .span2 {
                    width: 100% !important;
                }
            }
            
            #menu-toggle {
                display: inline-block;
                vertical-align: middle;
                width: 48%;
                text-align: right;
                margin: 0;
                font-size:1.35em;
            }
            
            .mobile-menu.js {
                display: none;
                
                a {
                    color: $offwhite;
                    text-align: center;
                    display: block;
                    width: 100%;
                    font-size: 1.25em;
                }
            }
        }
    }
    
	.hidden-tablet {
		display: none !important;
	}

	.mobile-value {
        padding: 2em 0;
        background: url(assets/get-aquainted-bg.jpg) no-repeat;
        background-size: cover;
        background-position: bottom center;
        
        h1 {
            font-size: 1.7em;
            margin-bottom: 0.25em;
        }
        
        h2 {
            font-size: 1.3em;
        }
        
        h3 {
            color: $green;
            font-size: 1.15em;
        }
        
        .grn-solid-btn {
            text-align: center;
            font-size: 1em;
            margin-top: 0.5em;
        }
    }

	.buyerpersona-blog {
		text-align: center;

		img {
			margin: 0.5em 0 1em;
		}

		h4, ul, a {

			text-align: left;

		}
        
        a {
            display: block;
        }

	}
    
    .home-ebook {
        
        img {
            max-width: 30% !important;
            margin: 0 auto 1em;
            display: block;
        }
    }

	.text-link {
		text-align: center;
	}

	#sidebar-cta {
    
        width: 100%;
        @include transition-duration(0.75s);
        
    }

}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    
    .header-container-wrapper {
        padding-top: 1em;
    }

	header {
        
        .widget-type-logo {
            width: 70% !important;
            display: inline-block !important;
            vertical-align: middle;
        }
        
        .client-login {
            width: 28% !important;
            display: inline-block !important;
            vertical-align: middle;
            @include box-sizing(border-box);
            
            .cell-wrapper {
                margin-left: 1em;
            }
        }
        
        .widget-type-space {
            display: none !important;
        }
        
        .row-number-2 {
            margin-top: 1em !important;
            
            .phone {
                display: inline-block;
                vertical-align: middle;
                width: 50% !important;
                text-align: left;
    
                .span2 {
                    width: 100% !important;
                }
            }
            
            #menu-toggle {
                display: inline-block;
                vertical-align: middle;
                width: 48%;
                text-align: right;
                margin: 0;
                font-size:1.35em;
            }
            
            .mobile-menu.js {
                display: none;
                
                a {
                    color: $offwhite;
                    text-align: center;
                    display: block;
                    width: 100%;
                    font-size: 1.25em;
                }
            }
        }

	}

	.hidden-tablet {
		display: none !important;
	}
    
    .mobile-value {
        padding: 2em 0;
        background: url(assets/get-aquainted-bg.jpg) no-repeat;
        background-size: cover;
        background-position: bottom center;
        
        h1 {
            font-size: 1.7em;
            margin-bottom: 0.25em;
        }
        
        h2 {
            font-size: 1.3em;
        }
        
        h3 {
            color: $green;
            font-size: 1.15em;
        }
        
        .grn-solid-btn {
            text-align: center;
            font-size: 1em;
            margin-top: 0.5em;
        }
    }

	.value-prop {

		p {
			margin-left: 0;
			margin-bottom: 1em;
		}

		.arrow {
			display: none;
		}

	}

	.buyerpersona-blog {
		text-align: center;

		img {
			margin: 0.5em 0 1.5em;
            width: 40% !important;
		}

		h4, ul, a {

			text-align: left;

		}

	}
    
    .home-ebook {
        
        padding-bottom: 0;
        
        img {
            max-width: 50% !important;
            margin: 0 auto 1em auto;
            display: block;
        }
    }
    
    .trading-news {
        
        .row-fluid-wrapper {
            
            .row-fluid-wrapper {
                padding: 0;
            }
        }
        
        .hs-cta-wrapper {
            
            a {
                font-size: 1em;
            }
        }
    }
    
    .footer {
        
        .footer-contact {
            margin-top: 1em;
            top: 0;
            position: static;
            
            p {
                font-size: 1em;
            }
        }
    }

	.text-link {
		text-align: center;
	}
    
    /* Our Team */
    
    .our-team {
        
        .employee {
            
            img {
                display: block;
                margin: 0 auto;
            }
            
            .social-following {
                text-align: center;
            }
            
            .chat-now {
                margin: 1em auto 0;
                display: block;
                text-align: center;
            }
        }
    }
    
    /* Resources */
    
    .resources-cta {
        
        @include box-sizing(border-box);
        
        .hs_cos_wrapper_type_cta {
            width: 100%;
            margin: 1em;
            @include box-sizing(border-box);
            
        }
    }
    
    /* Who We Serve */
    
    .insight-icons {
        text-align: center;
        padding: 2em 3em !important;
    }

	.sidebar-cta {
		&.bof-cta {
			&.narrow {
				&.stuck {
				    position: static;
					max-width: 100%;
				}
			}
		}
	}

	/* Blog */

		a.more-link {
			width: 100%;
			margin: 1.5em 0;
		}

	.footer {

		.span3 {
			width: 100% !important;
			text-align: center;
			@include box-sizing(border-box);
		}

	}
	

}