.content {
	margin: 2.5em 0 4em;

	.page-title {

		h1 {
			/*padding-bottom: 0.15em;*/
			/*border-bottom: $blue 2px solid;*/
		}

	}
    
    .left {
        padding-right: 3em;
    }
}

#sidebar-cta {

    width: 15em;
    
    h2 {
        font-size: 1.75em;
    }
}

/* Our Process */

.icon-links {
    height: auto !important;
}

/* Our Team */

.our-team {
	
	.employee {

		margin: 2em 0 4em 0;

		img {
			max-width: 200px;
            border-radius: 50px;
		}

		h2 {
			margin-bottom: 0;
		}

		h4 {
			margin: 0;
		}

		.learn-more {
			color: $green;
			margin-bottom: 1em;
			cursor: pointer;

			&:hover {
				text-decoration: none;
                color: $drkgreen;
			}

		}
        
        .hidden {
            max-height: 0;
            display: block;
            overflow: hidden;
            visibility: visible;
            @include transition (1.5s);
        }
        
        .show {
            max-height: 100em;
            display: block;
            overflow: hidden;
            @include transition (1.5s);
        }

		.bio {

			margin: 1em 0;
            
            p {
                margin-bottom: 0;
            }

		}
        
        .bio-more {
            margin-bottom: 2em;
        }
        
        .social-following {
            
            h4 {
                display: inline-block;
                vertical-align: middle;
                margin-right: 4%;
                color: #b3b3b1;
                border-right: #b3b3b1 1px solid;
                padding-right: 4%;
            }
            
            a {
                text-decoration: none;
                display: inline-block;
                vertical-align: middle;
            
                i {
                    font-size: 1.5em;
                    color: #b3b3b1;
                    padding: 0.25em;
                    
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
        
        .green-btn-outline {
            margin-top: 1em;
        }
        
        .chat-now {
            border-width: 0px;
            font-size: 1.25em;
            display: inline-block;
            vertical-align: middle;
            
            a {
                
                text-decoration: none;
                color: #b3b3b1;
                font-family: SSSerif;
            
                &:hover {
                    color: $green;
                }
            }
        }
	}
}

/* Resources */

.resources-cta {
    display: block;
    margin: 3em auto 0;
	
	.resource-column {
		width: 32%;
		padding: 0 3%;
		display: inline-block;
		vertical-align: top;
		margin: 3em 0;
		@include box-sizing(border-box);
		float: none;
		
		&.mid-col {
			margin: 3em 0 !important;
		}
	}
	
	.hs_cos_wrapper_type_cta {
		display: inline-block;
		width: 32%;
		vertical-align: top;

		img {

			display: block;
			margin: 0 auto;

			&:hover {
				opacity: 0.95;
			}

		}
	}



}


/* Who We Serve */

.insight-links {
    margin-top: 4em;
}

.insight-icons {
    
    display: inline-block;
    vertical-align: middle;
    
    img {
        max-width: 80% !important;
        display: block;
        vertical-align: middle;
        margin: 0 auto;
        max-height: 74px;
        width: auto;
    }
    
    .widget-span {
        display: inline-block !important;
        vertical-align: middle;
    }
    
    .text-link {
        padding-left: 0;
    }
}

/* Blog */

.post-header {
	
	a {
		text-decoration: none;
        color: $blue;
        
        &:hover {
            text-decoration: underline;
        }
	}
}

a.more-link {
	display: inline-block;
	width: 25%;
	text-decoration: none;
	text-align: center;
	padding: 0.25em !important;
    margin: 1.5em 0;
    @include grn-solid-btn;

	&:hover {
		@include grn-solid-btn-hover;
	}
}

#hubspot-topic_data {
    margin-top: 1em;
}

a.topic-link {
	background: #f6f6f6;
	border: #CCC 1px solid;
	border-radius: 2px;
	color: $drkgrey;
	padding: 0.25em 0.5em;
	text-decoration: none;
	display: inline-block;
	margin: 0.75em 0.25em;

	&:hover {
		background: $blue;
		color: $offwhite;
	}
}

.post-listing .post-item p img {
    max-width: 50% !important;
    height: auto;
    margin-left: 25px !important;
    margin-bottom: 25px !important;
    margin-top: 0 !important;
    float: right;
    border-radius: 4px;
    padding: 0;
}

.sidebar {
    
    h3 {
        background: #f6f6f6;
        padding: 0.5em;
        border-top: #CCC 1px solid;
        border-bottom: #CCC 5px solid;
        margin-bottom: 1em;
        color: #333;
        margin-top: 0;
    }
    
    a {
        color: $blue;
    }
    
    .sticky-wrapper {
        
        .sticky-wrapper {   
            position: absolute;
            width: 18%;
            
            .span12 {
                width: auto;
            }
        }
    }
}

.blog-search {
    background: #f9f9f9;
    
    label {
        background: #f9f9f9;
        padding: 0.5em;
        border-top: #CCC 1px solid;
        border-bottom: #CCC 5px solid;
        margin-bottom: 1em;
        display: block;
        font-size: 1.65em;
        margin: 7px 0 10px 0;
        color: #333;
        font-family: 'PT Serif', serif;
        font-weight: normal;
        margin-top: 0;
    }
    
    .input {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    
    input {
        border: #CCC 1px solid;
    	border-radius: 2px;
    	padding: 1em 0.5em;
    	color: $drkgrey;
        font-size: 1.25em;
    }
    
    a {
        position: relative;
        top: -1.95em;
        float: right;
        padding-right: 1em;
        color: $blue;
    }
}

.social-share-data {
    margin: 2em 0;
 
    div {
        margin-right: 2em;
    }
}

.connect {
    margin: 2em 0;
    background: #f9f9f9;
}

.blog-email-subscribe {
	margin: 0 0 1em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    
    h3 {
        border-top: none;
        border-bottom: none;
        background: transparent;
        padding: 0;
        font-size: 1.3em;
    }

	.input {

		input {

			border: #CCC 1px solid;
			border-radius: 2px;
			color: $drkgrey;
            font-size: 1.25em;
		}
	}
	
	.actions {

		input {
			@include grn-solid-btn;
			width: 100%;
			padding: 0.25em;
			margin: 0.25em 0;
            cursor: pointer;
            font-size: 1.25em;

			&:hover {
				@include btn-hover;
			}
		}
	}

}

.widget-type-follow_me {
    margin: 1em 0;
    padding: 0 0.75em;
    
    h3 {
        margin: 0;
        border-top: none;
        border-bottom: none;
        background: transparent;
        padding: 0;
        font-size: 1.3em;
    }
    
    div {
        margin-top: 0.5em;
    }
    
    a {
        width: 20%;
        display: inline-block;
    }
}

.blog-recent-posts {
    background: #f9f9f9;
	margin: 1em 0;
	
	ul {
		padding: 0.75em;
        padding-top: 0;
        margin: 0;
        display: block;

		li {
			list-style: none;
			padding: 0.5em 0;
            text-indent: 0;

			a {
				text-decoration: none;
			}
		}
	}
}

.blog-section {
    
    img {
        
        padding: 1em;
    }
}

@mixin dashed-border($dashlength, $spacelength, $borderwidth, $color, $position: top) {
  $per: percentage($dashlength / ($dashlength + $spacelength));
  background-image: linear-gradient(to right, $color 0%, $color $per, rgba(0, 0, 0, 0) $per);
  background-position: 0 $position; 
  background-size: ($dashlength + $spacelength) $borderwidth;
  background-repeat: repeat-x;
}

.post-seperator {
    margin: 3em 0;
    
    &:before {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        margin-top: 40px;
        @include dashed-border(11px, 6px, 2px, #CCC);
    }
}

.blog-pagination {
    text-align: center;
    display: block;
    margin: 2em auto 0;
    
    a {
        text-decoration: none;
        color: $blue;
        padding: 0.5em 1.5em;
        display: inline-block;
        
        &:hover {
            background: $blue;
            color: $offwhite;
        }
    }
    
    .all-posts-link {
        
    }
    
    .next-posts-link {
        border-left: #ccc 1px solid;
    }
    
    .previous-posts-link {
        border-right: #ccc 1px solid;
    }
}

/* Pricing */

.pricing-table {
	
	margin: 3em 0;
	border-color: #ccc;
	border-width: 1px 0;
	border-style: solid;
	padding: 2em 0 3em;

	.upper {
	text-align: center;
	font-size: 0.75em;
	border-bottom: #222 1px solid;
	}

	.lower {

		text-align: center;
		
		h2 {
			font-size: 1.5em;
			font-style: italic;
			font-weight: lighter;
			margin-top: 2em;
		}

		.pricingButton {
			font-size: 0.75em;
			margin-top: 3em;

			a {

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.about-author {
    background: #f6f6f6;
    border: #ccc 1px solid;
    border-radius: 4px;
    padding: 1em;
    
    .headshot {
        display: inline-block;
    }
    
    .bio {
        display: inline-block;
    }
    
}

/* Modals */
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.modal{
    display: none;
    background:#eee;
    padding:0 20px 20px;
    overflow:auto;
    z-index:1001;
    position:absolute;
    width: 500px;
    min-height: 300px;
}

/* Stock Ticker */

.stock-ticker-disclaimer {
    font-size: 0.75em;
    text-align: center;
    padding-bottom: 4em;
}

/* Client Login */
    
.hs-content-name-client-login {
        
        .resources-cta {
            margin-top: 0;
        }
    }

.company-login {
    display: block;
    margin: 2em 0;
    
    .logo {
        text-align: center;
        max-width: 75%;
        min-width: 50%;
        margin: 0 auto;
        display: table;
        min-height: 13em;
        
        &:before {
            content: '';
            display: inline-table;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
        }
            
        .widget-type-linked_image {
            display: inline-table;
            vertical-align: middle;
            float: none;
        }
        
        .logo-img {
            display: inline-block;
            vertical-align: middle;
            
            &:before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
                margin-right: -0.25em;
            }
        }
    }
    
    .description {
        text-align: center;
        margin: 2em auto;
        width: 75%;
        display: block;
        
        .widget-type-text {
            width: 100%;
        }
    }
    
    .login-cta {
        display: block;
        vertical-align: middle;
        text-align: center;
        width: 75%;
        margin: 2em auto;
        
        .widget-type-cta {
            width: 100%;
            border-radius: 2px;
            border: 2px solid $green;
            color: $green;
            font-family: PTSerif, serif;
            display: block;
            text-align: center;
            padding: 0.5em;
            font-size: 1em;
            @include box-sizing(border-box);
            line-height: 1.25em;
            
            &:hover {
                background: $green;
                
                a {
                    color: $offwhite;
                }
            }
            
            a {
                color: $green;
                text-decoration: none;
                display: block;
                
                &:hover {
                    color: $offwhite;
                    text-decoration: none;
                }
            }
        }
    }
}

