.bof-cta {

	h2 {
		margin-bottom: 0.5em;
	}

	.subheading {
		margin-bottom: 1em;
	}

	.grn-solid-btn {
		text-align: center;

		a {
			color: $offwhite;
			text-decoration: none;
			font-size: 1em;
			text-align: center;
		}

	}


	.wide {

	}

	&.narrow {

		background: #f6f6f6;
		border: #ccc 1px solid;
		border-radius: 4px;
		padding: 1em;

		h2 {
			margin-top: 0;
		}

		.grn-solid-btn {

			font-size: 0.8em;

			a {
				font-size: 1.4em;
			}
		}
	}
}